<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="coolnsight">
    <meta name="description" content="coolnsight | coolnsight.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="nianglao">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>coolnsight | coolnsight.com</title>
    <!-- core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
     <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=" {% url 'main' %}">
        <img  src="{% static 'logo.png' %}" style="height: 3.8rem" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarNavDropdown">
          <ul class="navbar-nav justify-content-end container-fluid p-0 mt-2 mt-md-0">
              <li class="nav-item text-right">
                  <a class="nav-link" href="{% url 'main' %}">Home <span class="sr-only">(current)</span></a>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Statistics
                  </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'main' %}">Tech Statistics</a>
                  <a class="dropdown-item" href="{% url 'main' %}">Entertainment Statistics</a>
                  <a class="dropdown-item" href="{% url 'main' %}">Economy Statistics</a>
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Games
                  </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{% url 'main' %}">Packman</a>
                  <a class="dropdown-item" href="{% url 'main' %}">Snake</a>
                  <a class="dropdown-item"href="{% url 'main' %}">2048</a>
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item dropdown text-right">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Tools
              </a>
              <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Proxy IPs</a>
                  <a class="dropdown-item" href="#">Crawler</a>
              </div>
              </li>

              <li class="d-block d-md-none border-top border-top-1"></li>
              <li class="nav-item text-right">
              <a class="nav-link" href="{% url 'main' %}">About&nbsp</a>
              </li>

              <li class="nav-item text-right">

                  {% if user.is_authenticated %}
                  <a class="btn btn-outline-primary" href="JavaScript:{document.getElementById('退出').submit()}">Logout</a>
                  <form id= '退出' method="POST" action='{% url 'main' %}' align='center'>
                  {% csrf_token %}
                  <input type="hidden">
                  </form>
                  {% else %}
                  <a class="btn btn-outline-primary" href="{% url 'main' %}">Login</a>&nbsp;
                  <a class="btn btn-outline-primary" href="{% url 'main' %}">Sign up</a>
                  {% endif %}
              </li>
          </ul>
        </div>
      </nav>
     </header>

    <main role="main">

      <section class="jumbotron text-center" style=" background-image:url({% static "background.jpg"%});  background-size:cover;">
        <div class="container" style="height:100%; width:100%;" >
{#             <img style="width:100%; height:100%" src="{% static "dragon.jpg" %}"> #}

            <h1 class="jumbotron-heading">简约而不简单</h1>
{#             <img src="{% static "dragon.jpg" %}" width="30%"> #}


            <p class="lead">
              <h6 class="font-weight-bold text-white">&emsp;No.
                <a href="https://www.easycounter.com/">
                  <img src="https://www.easycounter.com/counter.php?nianglao"
                    border="0" alt="page counter">
                </a>
              </h6>
            </p>

            <p class="lead text-dark ">Simple and Basic<br>There is still an Apple!</p>
            <p>
              <a href="https://github.com/nianglao/coolnsight.git" class="btn btn-danger">Github</a>
            </p>
        </div>
      </section>

     <section id="gallery">
        <div class="album py-0">
            <div class="container">
              <div class="row">
                {% for gallery in gallerys.all %}
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ gallery.image.url }}">
                    <div class="card-body">
                      <p class="card-text">{{gallery.description}}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
        </div>
      </section>

    <section id="footer_nav" class="bg-light mt-4">
    <div class="container pt-3 pb-4">
        <dl class="row mb-0">
            <div class="col-sm">
                <dt class="mb-1 mt-2">Materials</dt>
                <dd class="mb-0">
                    <a class="text-dark" href="https://www.djangosites.org/with-source/">
                        DjangoSites</a>
                </dd>
             </div>
            <div class="col-sm">
                <dt class="mb-1 mt-2">About Me</dt>
                <dd class="mb-0">
                     <a class="text-dark" href="https://github.com/nianglao/coolnsight">coolnsight&nbsp;</a>
                </dd>
            </div>
            <div class="col-sm">
                <dt class="mb-1 mt-2">Follow Us</dt>
                <dd class="mb-0">
                    <img style="height: 1.5rem" src="https://res.wx.qq.com/a/wx_fed/webwx/res/static/img/qMUjOdv.png">
                        <a class="text-dark" href="{% static 'qrc-nianglao.jpg' %}">WeChat&nbsp;</a>
                </dd>
            </div>
        </dl>
    </div>
    </section>

    </main>

    <footer class="text-muted">
      <div class="container">

        <p align="center"> ©2018-2019&nbsp;&nbsp;coolnsight.com</p>
        <p align="center"> <a align="center" class="text-muted" href="http://www.miitbeian.gov.cn/"> All Rights Reserved.</a>
        </p>
      </div>
    </footer>

<!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
